@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* shared styles */

.display-flex{
    display: flex;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}



 /* header section starts */



 /* header section ends */


 /* navbar section starts */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navlinks{
    gap: 20px;
    
}

.nav-item{
    list-style-type: none;
    font-size: 18px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

 /* navbar section ends */