@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* --------------- shared styles starts --------------- */

.display-flex{
    display: flex;
}

/* dark 01 */
.text-dark{
    color: #131313;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

/* color-orange */
.text-orange{
    color: #FF900E;
}


/* primary button */
.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 24px;
}

.bg-light{
   background-color: rgba(255, 144, 14, 0.1); 
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main>section{
    margin-top: 100px;
}

.section-title{
    font-size: 2.5rem;
}


/* --------------- shared styles ends --------------- */


 /* --------------- header section starts --------------- */

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-size: 3rem;
    font-weight: bold;
} 


/* banner section starts */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-image{
    width: 100%;
}


/* banner section ends */


 /* navbar section starts */

.navbar{
    justify-content: space-between;
    align-items: center;

}

.nav-links{
    gap: 20px;
    
}

.nav-item{
    list-style-type: none;
    font-size: 18px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

 /* navbar section ends */

 /* --------------- header section ends --------------- */


 /* --------------- main section starts -----------------*/

/* team and feature starts */

.teams{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 4.5rem;
    max-width: 530px;
    
}



#quick-list{
    font-weight: 500;
}

/* team and feature ends */

/* features enjoy starts */

.features-enjoy{
    display: flex;
    gap: 100px;
}

#features-enjoy-title{
    border-left: 5px solid #FF900E;
    padding-left: 1.2rem;
}

.feature-card{
    max-width: 500px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
   
    
}


/* features enjoy ends */



/* Some facts starts */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 200px;
}


.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px;
}

/* .facts-description{
    max-width: 540px;
} */

/* Some facts ends */

/* Sponsors starts */

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponser-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
}

.sponser-companies img{
    filter: grayscale(100%);
}


/*  Sponsors ends */

 /* --------------- main section ends --------------- */


 /* --------------- responsive media query starts --------------- */

 /* small device */

 @media screen and (max-width:576px){
    .navbar, 
    .nav-links, .teams{
        flex-direction: column;
    }

    .team-image-container, 
    .facts-container, 
    .sponser-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container{
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .sponser-companies{
        justify-items: center;
        gap: 24px;
    }

    .our-features{
        margin-left: 1rem;
    }


 }

 /* Medium device */

 @media screen and (min-width:577px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin-left: 0 auto;
    }

    .sponser-companies {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
 }

/* --------------- responsive media query ends --------------- */