@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* shared styles */

.display-flex{
    display: flex;
}

/* dark 01 */
.text-dark{
    color: #131313;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}


/* primary button */
.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 24px;
}

.bg-light{
   background-color: rgba(255, 144, 14, 0.1); 
}



 /* header section starts */

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-size: 3rem;
    font-weight: bold;
} 


/* banner section starts */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-image{
    width: 100%;
}


/* banner section ends */


 /* navbar section starts */

.navbar{
    justify-content: space-between;
    align-items: center;

}

.nav-links{
    gap: 20px;
    
}

.nav-item{
    list-style-type: none;
    font-size: 18px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

 /* navbar section ends */

 /* header section ends */


 /* responsive media query */

 @media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
 }